<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}<br>
    <img src="/img/me.jpg" alt="img of me">
    <h2>Hello!</h2>
    <p >
      My name is Furqan and I am Mern stack developer.
      This App  that i have just created is made on node+express.js
      Feel free to use it and give your feedback in contact form
      Enjoy 😉
    </p>
  </div>
  {{>footer}}
</body>
</html>