<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact us</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}<br>
    <h2>{{text}}</h2>
    <p>Feel free to contact me @</p> <h3>furqanashraf.me@gmail.com</h3>
  </div>

  {{>footer}}

</body>
</html>