<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}<br>
    <h2>{{text}}</h2>
    <form >
      <input type="text" name="" id="location">
      <button type="submit">submit</button>
    </form>
    <p id="output"></p>
  </div>
  {{>footer}}
  <script src="/js/javascript.js"></script>
</body>
</html>